{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe!{% endblock %}

{% block content %} 
{% for message in app.flashes %}
<div class="alert alert-info text-center">{{message[0]}}</div>
{% endfor %}
<form method="post" class="col-md-6" style="margin: auto ;">
    <h1 class="h3 mb-3 font-weight-normal">Réinitialiser votre mot de passe</h1>
    <label for="inputEmail"> votre email</label>
    <input type="email" placeholder="votre email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

    <button class="btn btn-lg btn-primary mt-2" type="submit">
        Valider
    </button>
</form>

{% endblock %}
