{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
<div class="col-md-6" style="margin: auto ;">
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
</div>
{% endblock %}